body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-family: Poppins, Arial, Verdana, Tahoma;;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.icon ul li {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
}

.icon ul {
  padding: 0px;
}

.container {
  display: flex;
}

nav ul li {
  list-style-type: none;
  display: inline;
  padding: 20px;
}

.logo {
  padding: 20px 10px 0px;
  flex-grow: 2;
  font-family: Poppins Arial, Verdana, Tahoma;;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  color: #6070FF;
}

.content {
  display: flex;
  justify-content: center;
}

.description {
  max-width: 500px;
}

h1 {
  font-family: Poppins Arial, Verdana, Tahoma;;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
}

.description {
  font-family: Poppins Arial, Verdana, Tahoma;;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

#connect {
  font-family: Poppins Arial, Verdana, Tahoma;;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #7F8CFF
}

.ruler {
  background: #EBEBFF;
  transform: rotate(-46.14deg);

  position: absolute;
  width: 108.67px;
  height: 19.44px;
  left: 34.6px;
  top: 218.92px;
}

.ellipse {
  background-color: #6070FF;
  border-radius: 50%;
  position: absolute;
  width: 80.48px;
  height: 40.24px;
  left: 139.2px;
  top: 260.68px;
  transform: translate(-50%, -50%);
  border-radius: 150px 150px 0 0;
}

.moon {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  box-shadow: -15px 15px 0 5px rgb(212, 39, 39);
  border-radius: 50%;
}

.shapes {
  display: flex;
  min-height: 250px;
  justify-content: space-between;
}

.left {
  flex-grow: 1;
}

.central {
  flex-grow: 3;
}

.right {
  flex-grow: 1;
  position: relative;
}

.clearfix {
  clear: both;
}

.rectangle-7 {
  position: absolute;
  width: 56.01px;
  height: 10.02px;
  left: 693.25px;
  top: 261.57px;
  background: #6070FF;
  transform: matrix(0.98, -0.21, -0.21, -0.98, 0, 0);
}

.ellipse-5 {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 708px;
  top: 257px;
  background: #EBEBFF;
}

.rectangle-4 {
  position: absolute;
  width: 204px;
  height: 47px;
  background: #EBEBFF;
  transform: rotate(-30deg) translate(-20%, -100%);

}

.ellipse-3 {
  position: absolute;
  width: 224px;
  height: 224px;
  top: 50%;
  transform: translateY(-25%);
  border-radius: 50%;
  background: #6070FF;
}

.circle {
  background: white;
  border-radius: 50%;
  position: absolute;
}

.central-circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
}

.outer-circle {
  --percent: -15%;
  --size: 500px;
  top: 50%;
  left: 50%;
  transform: translate(var(--percent), var(--percent));
  width: var(--size);
  height: var(--size);
}

.ruler-2 {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  transform: rotate(15deg) translateX(-20%);
}

.circle-2 {
  background: #EBEBFF;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  transform: rotate(70deg);
  position: absolute;
  top: -88%;
  left: -2%;
}

.circle-2-friend {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 10px 4px 0 #fff;
}

bottom-shapes {
  padding-top: 500px;
}

.ellipse-4 {
  position: relative;
  width: 224px;
  height: 224px;
  left: 550px;
  top: 50%;
  transform: translateY(-25%);
  border-radius: 50%;
  background: #ffa760;
}

.ruler-2 {
  background: #EBEBFF;
  transform: rotate(23.34deg);
  width: 108.67px;
  height: 19.44px;
  position: relative;
  top: -70%;
  left: 0;
}

.circle-bottom {
  background: #6070FF;
  border-radius: 50%;
  width: 47px;
  height: 47px;
  transform: translate(-50%, -50%);
}

.ellipse-bottom {
  background-color: #6070FF;
  border-radius: 50%;
  width: 36px;
  height: 18.45px;
  transform: rotate(180deg);
  border-radius: 150px 150px 0 0;
}

#bottom-left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bottom-shapes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100px;
}

.first {
  flex-basis: 50%;
  left: 30%;
  position: relative;
}

.second {
  flex-basis: 50%;
  position: relative;
  right: -25%;

}

.third {
  flex-basis: 50%;
  left: 30%;
  position: relative;
  top: -15px;
}

.fourth {
  flex-basis: 50%;
  position: relative;
  right: -20%;
  bottom: 30%;
}
